extends layout

block content
  .jumbotron
    h1 Tree View Test Harness
    p.lead Testing and learning tool for simple web services REST calls. 
    p
      a.btn.btn-primary.btn-large(href='/testHarness') Take me there &raquo;
  .row
    .col-md-4
      h2 Glue
      p Glue is not a part of Forge. But there is complihensive web services API.
      p
        a.btn.btn-default(href='https://fieldofviewblog.wordpress.com/bim-360-glue-api/') Learn more &raquo;
    .col-md-4
      h2 Field
      p Field is not a part of Forge, either. But there is web services API, too.
      p
        a.btn.btn-default(href='https://fieldofviewblog.wordpress.com/bim-360-field-api/') Learn more &raquo;
    .col-md-4
      h2 Forge
      p As a first step, BIM 360 exposes account level functionality through Forge. 
      p
        a.btn.btn-default(href='https://developer.autodesk.com/en/docs/bim360/v1/overview/') Learn more &raquo;
